<div>
    <slick settings="vm.slickConfig">
        <img class="mainImg" ng-repeat="photo in vm.selectedPattern.photos" src="{{photo}}"/>
    </slick>
    <div>
        <h1 class="patternTitle">{{ vm.selectedPattern.title }}</h1>
        <h2 class="designerName">{{ vm.selectedPattern.designer }}</h2>
        <p ng-repeat="sentence in vm.selectedPattern.blurb">{{ sentence }}</p>
    </div>
    <p>Get the ebook and cast on now! </p>
    <purchase-box></purchase-box>
    <div class="ravButton">
        <a href="{{ vm.selectedPattern.ravelryLink }}" target="new">
            <img src="{{ vm.selectedPattern.ravelryGif }}" />
        </a>
        <i class="material-icons">keyboard_arrow_left</i>
        <span>browse {{ vm.selectedPattern.title }} sweaters on Ravelry</span>
    </div>
    <div class="patternTab">
        <div class="flexContainer patternTabHeader">
            <p ng-repeat="tab in vm.tabs" ng-click="vm.showTab(tab)" ng-class="{ 'selectedInfo': vm.isTabSelected(tab) }">{{ tab }}</p>
        </div>
        <div class="patternTabContent">
            <div ng-show="vm.isTabSelected('sizing')">
                <p><strong>The pattern includes 7 child sizes and 8 adult sizes:</strong></p>
                <p>0-6 mo (6-12 mo, 1-2 yrs, 2-4 yrs, 4-6 yrs, 6-8 yrs, 8-10 yrs, <strong>XS, S, M, L, XL, XXL, 3XL, 4XL</strong>)</p>
                <p><strong>a. finished chest / bust:</strong> 17.5 (19.5, 22, 24, 26, 28.5, 30.5, <strong>32.5, 35, 37, 41.5, 46, 50, 54.5, 59</strong>)&quot;</p>
                <p><strong>b. hem to underarm:</strong> 6.5 (7.5, 9, 11, 12, 13, 14, <strong>15, 16, 16.5, 17, 17.5, 18, 18, 18</strong>)&quot;</p>
                <p><strong>c. 3/4 length sleeve:</strong> 3 (4, 5, 5.5, 6, 7, 9, <strong>11, 11.5, 12, 12.5, 13, 13.5, 13.5, 13.5</strong>)&quot;</p>
                <p><strong>d. long sleeve:</strong> 6 (7, 9, 11, 12, 13, 15, <strong>17, 18, 19, 19, 20, 20, 21, 21</strong>)&quot;</p>
                <p><strong>e. top sleeve:</strong> 6.5 (7, 7.75, 8, 8.75, 9, 9.5, <strong>10.5, 11.75, 12.25, 14.25, 15, 16.25, 17.5, 19</strong>)&quot;</p>
                <p><em>Note: The pattern includes optional waist shaping for adult sizes, which decreases to 3" less than the total bust measurement for each size.</em></p>
                <img src="images/HOMS-schematic.jpg"/>
            </div>
            <div ng-show="vm.isTabSelected('yarn guage')">
                <p><strong>gauge:</strong> 22 sts &amp; 30 rounds / 4” in stockinette using larger needles</p>
                <p><strong>yarn</strong>: DK weight yarn</p>
                <P ng-show="vm.selectedPattern.guageMC != ''"><strong>MC</strong>: {{ vm.selectedPattern.guageMC }}</P>
                <P ng-show="vm.selectedPattern.guageCC != ''"><strong>CC</strong>: {{ vm.selectedPattern.guageCC }}</P>
                <P ng-show="vm.selectedPattern.guageNote != ''">{{ vm.selectedPattern.guageNote }}</P>
                <ul>
                    <li ng-repeat="note in vm.selectedPattern.knitNotes">
                        <p>{{ note.head }}<a href="{{ note.link }}">{{ note.linkText }}</a>{{ note.tail }}</p>
                    </li>
                </ul>
            </div>
            <div ng-show="vm.isTabSelected('needles')">
                <p><strong>suggested needles:</strong> US #4 / 3.5mm and US #6 / 4mm <em>(or as required to meet gauge)</em></p>
                <p><strong>for sizes 0 - 4 years:</strong> 16” circulars and DPNs in each size*</p>
                <p><strong>for sizes 4 yrs - XS:</strong> 16” circulars, 24” circulars, and DPNs in each size*</p>
                <p><strong>for sizes S - 4XL:</strong> 16” circulars, 32” circulars, and DPNs in each size*</p>
                <p>* Alternatively you can use the <a href="https://blog.tincanknits.com/2013/10/03/magic-loop/">magic loop technique</a> to knit smaller diameter tubes on a long circular needle</p>
                <p><strong>notions: </strong>{{ vm.selectedPattern.notions }} </p>
            </div>
            <div ng-show="vm.isTabSelected('tutorials')">
                <ul class="tutorialList">
                    <li ng-repeat="tutorial in vm.selectedPattern.tutorials"><a href="{{ tutorial.url }}">{{ tutorial.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="patternThumbs">
        <h2>Other designs from Heart On My Sleeve:</h2>
        <div class="flexContainer flexMiddleMiddle">
            <img ng-repeat="pattern in vm.patternLinks" src="{{ pattern.imageUrl }}" ng-click="vm.goToPattern(pattern.name)" ng-hide="vm.hideLink(pattern.name)"/>
        </div>
    </div>
</div>

