body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  line-height: 1.2em;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 /*   background-color: #333; */
/*  border-radius: 15px;
}*/

/*li {
    float: left;
}*/

/*li a {
    display: block;
    color:lightblue;
    text-align: center;
    padding: 14px 16px;
  margin-right: 15px;
    text-decoration: none;
  border-radius: 15px;
}

li a:hover {
    background-color: #111;
}
*/


.active {
    background-color: #4CAF50;
}

a {
  color:#4E78A5 ;
  text-decoration: none;
  font-weight: bold;
}

h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.2em;
}

.wrapper {
  border-style: solid;
  border-color: crimson;
  padding: 15px;
}

.header {
  border-style: solid;
  border-color:chartreuse;
  padding: 5px;
  clear: both;
}

.bioblock {
  display: block;
  max-width: 240px;
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  padding: 10px;
}

.bioblockwide {
  display: block;
  max-width: 360px;
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  padding: 10px;
}

.pattblock {
  display: block;
  width: 860px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  clear: both;
}

.bgcolour {
  background-color: #E1E1E1;
  display: block;
  border-radius: 30px;
  max-width: 910px;
}

h1 {
  "font-family": ;
}

.biopic {
  float: left;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: thick;
  display: block;
    max-height:240px;
    width: auto;
    height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.patttmb_left {
  float: left;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: thick;
  display: block;
    max-height:240px;
    width: auto;
    height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.patttmb_right {
  float: right;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: thick;
  display: block;
    height: 240px;
  width: 240px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.bodydiv {
  clear: both;
}

.wrapper {
  border-style: solid;
  border-color: coral;
  padding: 5px;
}

.button_social {
  float: left;
  display: block;
  max-height: 30px;
  max-width: 30px;
  margin-right: 6px;
}

.flexContainer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 0px) {
    .leftPanel {
        width: 100%;
        min-width: 400px;
        /*border: dashed red 1px;*/
        /*background-color: lightgreen;*/
    }

    .rightPanel {
        min-width: 300px;
        width: 100%;
        /*padding: 20px;*/
        /*border: dashed red 1px;*/
    }
}

@media screen and (min-width: 1050px) {
    .leftPanel {
        width: 55%;
        min-width: 400px;
        /*border: dashed red 1px;*/
        /*background-color: yellow;*/
    }

    .rightPanel {
        min-width: 300px;
        width: 40%;
        /*padding: 20px;*/
        /*border: dashed red 1px;*/
    }
}

.leftPanel {
    border-bottom: solid grey 6px;
}

/*.rightPanel {
    min-width: 400px;
    width: 35%;
    padding: 20px;
    border: dashed red 1px;
}*/

@media screen and (min-height: 0px){
    .imageView {
        width: 100%;
        /*min-width: 400px;*/
        height: 180px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
        /*border: dashed blue 2px;*/
        /*background-color: lightgrey;*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 190px !important;
        /*border: dashed red 2px;*/
    }
}

@media screen and (min-height: 300px){
    .imageView {
        width: 100%;
        /*min-width: 400px;*/
        height: 250px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
        /*border: dashed blue 2px;*/
        /*background-color: lightgrey;*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 270px !important;
        /*border: dashed red 2px;*/
    }
}

@media screen and (min-height: 400px){
    .imageView {
        width: 100%;
        /*min-width: 400px;*/
        height: 350px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
        /*border: dashed blue 2px;*/
        /*background-color: blue;*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 380px !important;
        /*border: dashed red 2px;*/
    }
}

@media screen and (min-height: 500px){
    .imageView {
        width: 100%;
        /*min-width: 400px;*/
        height: 400px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
        /*border: dashed blue 2px;*/
        /*background-color: red;*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 430px !important;
        /*border: dashed red 2px;*/
    }
}

@media screen and (min-height: 600px){
    .imageView {
        width: 100%;
        /*min-width: 400px;*/
        height: 500px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
        /*border: dashed blue 2px;*/
        /*background-color: green;*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 540px !important;
        /*border: dashed red 2px;*/
    }
}

@media screen and (min-height: 800px){
    .imageView {
        width: 100%;
        /*min-width: 400px;*/
        height: 700px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
        /*border: dashed blue 2px;*/
        /*background-color: yellow;*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 750px !important;
        /*border: dashed red 2px;*/
    }
}

.imageContainer img{
    max-width: 90%;
    width: auto;
    max-height: 100%;
    height: auto;
    margin: auto;
    vertical-align: middle;
}

.imageNav {
    width: 100%;
    min-width: 400px;
    height: 120px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    /*border: dashed blue 2px;*/
}

.imageNavContainer {
    max-width: 90%;
    width: auto;
    height: 112px !important;
    /*border: dashed red 2px;*/
}

.imageNavContainer img{
    max-width: 90%;
    width: auto;
    max-height: 100%;
    height: auto;
    margin: auto;
    vertical-align: middle;
}

.tabDataHidden {
    display: none;
}

.tabSelected {
    background: white !important;
}

.purchaseBoxContainer {
    max-width: 420px;
}

.purchaseBox {
    padding: 1px;
    border-radius: 10px;

    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgrey;
    min-width: 300px;
}

.purchaseImages img {
    margin: auto;
    display: block;
    padding: 1em 1em;
}

.purchaseBlurb {
    display: block;
    padding: 0em 1em;
    margin: 0;
}

.boxContent {
    padding: 1em 2.5em;
}

.bottomPanel {
    width: 95%;
}

.tabNavBar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 40px
}

.tabNavBar div {
    margin: 0;
    padding: 10px 20px;
    /*border: solid black 1px;*/
    background: lightgrey;
    border-top: solid lightgrey 2px;
    border-right: solid lightgrey 2px;
    border-left: solid lightgrey 2px;
}

.tabContent {
    /*border: solid black 1px;*/
    min-width: 358px;
    max-width: 800px;
    padding: 0em 1em;
    margin: 0px 40px;
    border: solid lightgrey 2px;
}

.tabContent div {
    padding: 10px;
    min-height: 300px;
}

.patternTitle {
    margin: 0.5em 0em 0.25em 0em;
}

.designerName {
    font-size: 1em;
    margin: 0em;
}
