body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.active {
    background-color: #4CAF50;
}

a {
  color:#4E78A5 ;
  text-decoration: none;
  font-weight: bold;
}

h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.2em;
}

.wrapper {
  border-style: solid;
  border-color: crimson;
  padding: 15px;
}

.headerImage {
  padding: 0px 30px;
  width: 100%;
  clear: both;
}

.bioblock {
  display: block;
  max-width: 240px;
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  padding: 10px;
}

.bioblockwide {
  display: block;
  max-width: 360px;
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  padding: 10px;
}

.pattblock {
  display: block;
  width: 860px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  clear: both;
}

.bgcolour {
  background-color: #E1E1E1;
  display: block;
  border-radius: 30px;
  max-width: 910px;
}

h1 {
  /*"font-family": ;*/
}

.biopic {
  float: left;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: thick;
  display: block;
    max-height:240px;
    width: auto;
    height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.patttmb_left {
  float: left;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: thick;
  display: block;
    max-height:240px;
    width: auto;
    height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.patttmb_right {
  float: right;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: thick;
  display: block;
    height: 240px;
  width: 240px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.bodydiv {
  clear: both;
}

.wrapper {
  border-style: solid;
  border-color: coral;
  padding: 5px;
}

.button_social {
  float: left;
  display: block;
  max-height: 30px;
  max-width: 30px;
  margin-right: 6px;
}

.header {
    border-bottom: solid lightgrey 2px;
    min-width: 800px;
    margin: 0px;
}


.navBar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 0px 0px 20px;
}

.navBar div {
    margin: 0;
    padding: 10px 6px;
    font-weight: bold;
    color: grey;
    white-space: nowrap;
    font-size: 24px;
}

.footerBar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0px 0px 0px;
    border-top: solid lightgrey 2px;
    width: 95%;
}

.footerBar span {
    margin: 0;
    padding: 1em 0.6em;
    font-size: 0.8em;
    white-space: nowrap;
}

.footerFlex {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
}

.footerFlex p {
    font-size: 0.8em;
    padding: 0em 0em 0em 1em;
}

.footerSocial {
    max-height: 2em;
    max-width: 2em;
    margin: 0em 0em 0em 0.5em;
    vertical-align: middle;
}

.flexContainer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 0px) {
    .leftPanel {
        width: 100%;
        min-width: 400px;
    }

    .rightPanel {
        min-width: 300px;
        width: 100%;
    }

    .purchaseBoxContainer {
        max-width: 100%;
        /* scale to 100% on narrower screens*/
    }
}

@media screen and (min-width: 1050px) {
    .leftPanel {
        width: 55%;
        min-width: 400px;
    }

    .rightPanel {
        min-width: 300px;
        width: 40%;
    }

    .purchaseBoxContainer {
        max-width: 80%;
        /* scale to 100% on narrower screens*/
    }
}

@media screen and (min-height: 0px){
    .imageView {
        width: 100%;
        height: 180px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 190px !important;
    }

    .headerImage img {
        height: 100px;
    }
}

@media screen and (min-height: 300px){
    .imageView {
        width: 100%;
        height: 250px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 270px !important;
    }
}

@media screen and (min-height: 400px){
    .imageView {
        width: 100%;
        height: 350px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 380px !important;
    }
}

@media screen and (min-height: 500px){
    .imageView {
        width: 100%;
        height: 400px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 430px !important;
    }
}

@media screen and (min-height: 600px){
    .imageView {
        width: 100%;
        height: 500px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 540px !important;
    }


    .purchaseImages img {
        min-height: 300px;
    }
}

@media screen and (min-height: 700px){
    .imageView {
        width: 100%;
        height: 600px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 645px !important;
    }
}

@media screen and (min-height: 800px){
    .imageView {
        width: 100%;
        height: 700px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 750px !important;
    }

    .headerImage img {
        height: 150px;
    }
}

@media screen and (min-height: 900px){
    .imageView {
        width: 100%;
        height: 800px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 860px !important;
    }

    .purchaseImages img {
        min-height: 400px;
    }
}

@media screen and (min-height: 1000px){
    .imageView {
        width: 100%;
        height: 900px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 970px !important;
    }

    .headerImage img {
        height: 200px;
    }
}

@media screen and (min-height: 1100px){
    .imageView {
        width: 100%;
        height: 1000px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 1080px !important;
    }
}

@media screen and (min-height: 1200px){
    .imageView {
        width: 100%;
        height: 1100px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 1190px !important;
    }

    .purchaseImages img {
        min-height: 500px;
    }
}

@media screen and (min-height: 1300px){
    .imageView {
        width: 100%;
        height: 1200px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 1300px !important;
    }
}

@media screen and (min-height: 1400px){
    .imageView {
        width: 100%;
        height: 1300px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 1410px !important;
    }
}


.leftPanel {
    border-bottom: solid lightgrey 2px;
    max-width: 1000px;
}

.rightPanel {
    border-bottom: solid lightgrey 2px;
}

.imageContainer img{
    max-width: 95%;
    width: auto;
    min-height: 90%;
    max-height: 90%;
    height: auto;
    margin: auto;
    vertical-align: middle;
}

.imageNav {
    width: 100%;
    min-width: 400px;
    height: 120px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
}

.imageNavContainer {
    max-width: 90%;
    width: auto;
    height: 112px !important;
}

.imageNavContainer img{
    max-width: 90%;
    width: auto;
    max-height: 100%;
    height: auto;
    margin: auto;
    vertical-align: middle;
}

.tabDataHidden {
    display: none;
}

.tabSelected {
    background: white !important;
}

.purchaseBox {
    padding: 1px;
    border-radius: 10px;

    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgrey;
    min-width: 300px;
}

.purchaseImages img {
    margin: auto;
    display: block;
    padding: 1em 1em;
}

.purchaseBlurb {
    display: block;
    padding: 0em 1em;
    margin: 0;
    font-size: 40px;
}

.boxContent {
    padding: 1em 2.5em;
}

.bottomPanel {
    margin: 12px 0px 0px 0px;
    width: 95%;
}

.tabNavBar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 40px
}

.tabNavBar div {
    margin: 0;
    padding: 10px 20px;
    font-size: 32px;
    background: lightgrey;
    border-top: solid lightgrey 2px;
    border-right: solid lightgrey 2px;
    border-left: solid lightgrey 2px;
}

.tabContent {
    min-width: 358px;
    max-width: 800px;
    padding: 0em 1em;
    margin: 0px 40px;
    border: solid lightgrey 2px;
}

.tabContent div {
    padding: 10px;
    min-height: 300px;
    font-size: 16px;
}

.patternTitle {
    margin: 0.5em 0em 0.25em 0em;
}

.designerName {
    font-size: 1em;
    margin: 0em;
}