@-ms-viewport{
  width: device-width;
}

body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 16px;
  line-height: 1.2em;
}

.active {
    background-color: #4CAF50;
}

a {
    color: #6fb0bb;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
}

.header a {
    color: #969696 ;
    font-size: 150%;
}

.footer a {
    color: black ;
}

p {
    font-size: 100%;
}

h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 140%;
  line-height: 120%;
  margin: 0;
}

h2 {
  margin: 0;
}

.wrapper {
  border-style: solid;
  border-color: crimson;
  padding: 15px;
}

.headerImage {
  padding: 1em 1em;
  width: 100%;
  clear: both;
}

.bioblock {
  display: block;
  max-width: 240px;
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  padding: 10px;
}

.bioblockwide {
  display: block;
  max-width: 360px;
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  padding: 10px;
}

.pattblock {
  display: block;
  width: 860px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  clear: both;
}

.bgcolour {
/*  background-color: #E1E1E1;
  display: block;
  border-radius: 30px;
  max-width: 910px;*/
}

.biopic {
  float: left;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: thick;
  display: block;
    max-height:240px;
    width: auto;
    height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.patttmb_left {
  float: left;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: thick;
  display: block;
    max-height:240px;
    width: auto;
    height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}

.patttmb_right {
  float: right;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  border-width: thick;
  display: block;
    height: 240px;
  width: 240px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.wrapper {
  border-style: solid;
  border-color: coral;
  padding: 5px;
}

.button_social {
  float: left;
  display: block;
  max-height: 30px;
  max-width: 30px;
  margin-right: 6px;
}

.header {
    border-bottom: solid lightgrey 2px;
    margin: 0px auto;

}

.navBar {
    display: -webkit-flex;
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 0 0 1em 1.2em;
    justify-content: space-between;
}

.navBar div {
    margin: 0;
    padding: 0.2em 0.8em;
    font-weight: bold;
    font-size: 120%;
    color: grey;
    white-space: nowrap;
}

.footerBar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em 0 0.5em 0;
    border-top: solid lightgrey 2px;
}

.footerBar span {
    padding: 0.3em 0;
}


.footerBar a {
    width: 100%;
    margin: 0;
    padding: 0 0.6em;
    font-size: 100%;
    white-space: nowrap;
}

.footerFlex {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    margin: 1em 0;
    align-items: center;
}

.footerFlex p {
    font-size: 100%;
    margin: 0;
    padding: 0em 0em 0em 1em;
}

.footerSocial {
    max-height: 4vh;
    max-width: 4vh;
    margin: 0em 0em 0em 0.5em;
}

.flexContainer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 0px) {
    .leftPanel {
        min-width: 400px;
    }

    .rightPanel {
        width: 100%;
    }

    .headerImage img {
        max-width: 100vw;
    }

    .footerBar {
        max-width: 100%;
    }
}


@media screen and (min-width: 500px) {
}

@media screen and (min-width: 700px) {
}

@media screen and (min-width: 1000px) {

}


@media screen and (min-width: 1050px) {
    .leftPanel {
        width: 55%;
    }

    .rightPanel {
        width: 40%;
    }

    .footerBar {
        max-width: 95%;
    }
}

@media screen and (min-height: 0px){
    .imageView {
        width: 100%;
        height: 180px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 190px !important;
    }
}

@media screen and (min-height: 300px){
    .imageView {
        width: 100%;
        height: 250px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 270px !important;
    }
}

@media screen and (min-height: 400px){
    .imageView {
        width: 100%;
        height: 350px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 380px !important;
    }
}

@media screen and (min-height: 500px){
    .imageView {
        width: 100%;
        height: 400px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 430px !important;
    }
}

@media screen and (min-height: 600px){
    .imageView {
        width: 100%;
        height: 500px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 540px !important;
    }
}

@media screen and (min-height: 700px){
    .imageView {
        width: 100%;
        height: 600px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 645px !important;
    }
}

@media screen and (min-height: 800px){
    .imageView {
        width: 100%;
        height: 700px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 750px !important;
    }
}

@media screen and (min-height: 900px){
    .imageView {
        width: 100%;
        height: 800px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 860px !important;
    }
}

@media screen and (min-height: 1000px){
    .imageView {
        width: 100%;
        height: 900px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 970px !important;
    }
}

@media screen and (min-height: 1100px){
    .imageView {
        width: 100%;
        height: 1000px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 1080px !important;
    }
}

@media screen and (min-height: 1200px){
    .imageView {
        width: 100%;
        height: 1100px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 1190px !important;
    }
}

@media screen and (min-height: 1300px){
    .imageView {
        width: 100%;
        height: 1200px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 1300px !important;
    }
}

@media screen and (min-height: 1400px){
    .imageView {
        width: 100%;
        height: 1300px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
    }

    .imageContainer {
        max-width: 90%;
        width: auto;
        height: 1410px !important;
    }
}


.leftPanel {
    border-bottom: solid lightgrey 2px;
    max-width: 1000px;
}

.rightPanel {
    border-bottom: solid lightgrey 2px;
}

.imageContainer img{
    max-width: 95%;
    width: auto;
    min-height: 90%;
    max-height: 90%;
    height: auto;
    margin: auto;
    vertical-align: middle;
}

.imageNav {
    width: 100%;
    min-width: 400px;
    height: 120px; /* Must be set as a fixed pixel size for child images to respect their max-height*/
}

.imageNavContainer {
    max-width: 90%;
    width: auto;
    height: 112px !important;
}

.imageNavContainer img{
    max-width: 90%;
    width: auto;
    max-height: 100%;
    height: auto;
    margin: auto;
    vertical-align: middle;
}

.tabDataHidden {
    display: none;
}

.tabSelected {
    background: white !important;
}

.purchaseBox {
    padding: 1px;
    border-radius: 10px;
    min-width:300px;
    max-width: 50vw;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgrey;
}

.purchaseImages img {
    margin: auto;
    display: block;
    padding: 1em 1em;
    max-height: 25vh;
}

.purchaseBlurb {
    display: block;
    padding: 0em 1em;
    margin: 0;
}

.boxContent {
    padding: 1em 2.5em;
}

.bottomPanel {
    margin: 1em 1em 0 1em;
    max-width: 800px;
    min-width: 340px;
    border: solid lightgrey 2px;
}

.tabNavBar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    background: lightgrey;
}

.tabNavBar div {
    max-width: 100vw;
    margin: 0;
    padding: 10px 20px;
    background: lightgrey;
    font-size: 80%;
}

.tabContent {
    max-width: 100vw;
    padding: 0em 1em;
    border-top: solid lightgrey 2px;
    font-size: 80%;
}

.tabContent div {
    padding: 10px;
    min-height: 40vh;
}

.patternTitle {
    margin: 0.5em 0em 0.25em 0em;
}

.designerName {
    font-size: 1em;
    margin: 0em;
}

.carousel {
    /*max-height: 500px;*/
}

.indexText {
    /*max-width: 800px;*/
    padding: 0vh 5vh;
}

.flexChild {
    max-width: 20vw;
    min-width: 500px; /* TODO take a look at fixing this*/
    margin: 1.5em 3em;
}

.standardFlex img {
    float: left;
    margin: 0 2em 0 0 ;
}

.introText {
    font-size: 120%;
}

.mainPurchaseBox {
    margin: 0;
    display: block;
    clear: both;
}

.mainPurchaseBox img {

}

.thumbnails img {
    margin: 1.5em 1.5em 0.5em 1.5em;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    /*min-width: 45vw;*/
    /*max-width: 20vw;*/
}

.thumbnails a {
    /*border: solid black 1px;*/
}

.thumbnails a div {
    padding: 0 0 0 50px; /* TODO is there a smarter way to align two left differently sized fonts?*/
}

.thumbnailTitle {
    text-transform: uppercase;
    color: black;
}

.thumbnailSubTitle {
    font-weight: normal;
    color: black;
    font-size: 90%;
}

.yarnList {
    margin: 1em;
}

.yarnList img {
    width: 200px;
}

.imgFooter {
    width:95%;/* TODO this has bumped the image width over */
    margin: 2em 0 0 0;
    padding: 0 1em 0 1em;
    max-height: 550px;
    max-width: 978px;
}
.indexMain {
	max-width: 1300px;
}