body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 16px;
  line-height: 1.2em;
  max-width: 56em;
  /*min-width: 13em;*/
  margin: 1em;
}

.header {
    width: 100%;
    padding: 0;
    border-bottom: solid lightgrey 2px;
}

.header img {
    width: 95%;
    max-width: 50em;
    display: block;
    margin: 0;
    /*background-color: red;*/
}

.navbar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0.5em 2em;
}

.navbar span {
    padding: 0.2em 0.8em;
    font-weight: bold;
    font-size: 120%;
    color: grey;
    white-space: nowrap;
}

.navButton {
    padding: 0.5em;
    font-weight: bold;
    font-size: 250%;
    color: grey;
    white-space: nowrap;
}

.footer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    border-top: solid lightgrey 2px;
}

.footerBar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0 0 0;
}

.footerBar span {
    padding: 0 0.6em;
    /*margin: 0.2em;*/
    font-weight: bold;
    font-size: 100%;
    white-space: nowrap;
}

.socialButtons {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    margin: 0.5em 0;
    align-items: center;
}

.socialButtons p {
    font-size: 100%;
    margin: 0;
    padding: 0em 0em 0em 1em;
}

.socialButtons img {
    max-height: 1.75em;
    min-height: 1.75em;
    margin: 0em 0em 0em 0.5em;
}

@media screen and (min-width: 0) and (max-width: 42em) {
    .navbar {
        display: none;
    }

    .footerBar {
        display: none;
    }
}

@media screen and (max-width: 35em) {
    .footer p {
        font-size: 90%;
        margin: 0.5em auto;
        text-align: center;
    }

    .socialButtons {
        margin: 0.5em auto;
    }
}

@media screen and (min-width: 35em) {
    .footer p {
        margin: 0.6em;
        font-size: 90%;
    }
}

@media screen and (min-width: 42em) {
    .navbar span {
        padding: 0.2em 0.4em;
        font-size: 100%;
        color: grey;
        white-space: nowrap;
    }

    .navButton {
        display: none;
    }

    .footerBar span {
        padding: 0 0.6em;
        font-weight: bold;
        font-size: 90%;
        white-space: nowrap;
    }
}

@media screen and (min-width: 48em) {
    .navbar span {
        padding: 0.2em 0.5em;
        font-size: 110%;
        color: grey;
        white-space: nowrap;
    }

    .footerBar span {
        padding: 0 0.6em;
        font-weight: bold;
        font-size: 100%;
        white-space: nowrap;
    }

    .footer p {
        font-size: 100%;
    }
}

@media screen and (min-width: 56em) {
    body {
        margin: 1em auto;
    }

    .navbar span {
        padding: 0.2em 0.8em;
        font-size: 120%;
        color: grey;
        white-space: nowrap;
    }
}