body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 16px;
  line-height: 1.2em;
  max-width: 56em;
  /*min-width: 13em;*/
  margin: 1em;
}

h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 140%;
  line-height: 120%;
  margin: 1em 0;
}

p {
    font-size: 100%;
}

a {
    color: #6fb0bb;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
}

.header {
    width: 100%;
    padding: 0;
    border-bottom: solid lightgrey 2px;
}

.header img {
    width: 95%;
    max-width: 50em;
    display: block;
    margin: 0;
    /*background-color: red;*/
}

.navbar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0.5em 2em;
}

.navbar span {
    padding: 0.2em 0.8em;
    font-weight: bold;
    font-size: 120%;
    color: grey;
    white-space: nowrap;
}

.navMenuToggle {
    padding: 0.2em 0.5em;
    font-weight: bold;
    font-size: 200%;
    color: grey;
    white-space: nowrap;
}

.navMenuHidden {
    width: 0% !important;
}

.navMenu {
   /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    display: flex;
    display: -webkit-flex;
    align-items: center
}

.navButtons {
    /*Centre the menu vertically on the screen - may not be the desired affect, especially if we add an image to the top of the menu*/
    /*feels like there should be a better solution as this is old school.*/
/*    position: absolute;
    top: 50%;
    transform: translate(0, -50%);*/
    /*background-color: blue;*/
    display: inline-block;
    /*padding: 0.5em;*/
}

.navButtons div {
    font-size: 80%;
    font-weight: bold;
    padding: 0.4em 1em;
    margin: 0.2em;
    background-color: lightgrey;
    border-radius: 2em;
    text-align: center;
    white-space: nowrap;
}

.footer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    border-top: solid lightgrey 2px;
}

.footerBar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0 0 0;
}

.footerBar span {
    padding: 0 0.6em;
    font-weight: bold;
    font-size: 100%;
    white-space: nowrap;
}

.socialButtons {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    margin: 0.5em 0;
    align-items: center;
}

.socialButtons p {
    font-size: 100%;
    margin: 0;
    padding: 0em 0em 0em 1em;
}

.socialButtons img {
    max-height: 1.75em;
    min-height: 1.75em;
    margin: 0em 0em 0em 0.5em;
}

.mainPurchaseBox {
    border-radius: 1.5em;
    padding: 1em 1em 0 1em;
    border-style: dotted;
    border-color: goldenrod;
}

.purchaseBoxImage img {
    width: 160px;
    margin: 0 auto;
    display: block;
}

.purchaseBoxImage {
    width: 100%;
    display: inline-block;
}

@media all and (min-width: 0) and (max-width: 42em) {
    .navbar {
        display: none;
    }

    .footerBar {
        display: none;
    }
}

@media all and (max-width: 35em) {
    .footer p {
        font-size: 90%;
        margin: 0.5em auto;
        text-align: center;
    }

    .socialButtons {
        margin: 0.5em auto;
    }
}

@media all and (min-width: 28em) {
    .mainPurchaseBox {
        flex-wrap: nowrap !important;
        align-items: center;
        padding: 1em;
    }

    .purchaseBoxImage {
        width: auto;
        padding: 0 1em 0 0;
    }

    .purchaseBoxImage img {
        margin: 0;
    }
}

@media all and (min-width: 35em) {
    .footer p {
        margin: 0.6em;
        font-size: 90%;
    }
}

@media all and (min-width: 42em) {
    .navbar span {
        padding: 0.2em 0.4em;
        font-size: 100%;
        color: grey;
        white-space: nowrap;
    }

    .navNarrow {
        display: none;
    }

    .footerBar span {
        padding: 0 0.6em;
        font-weight: bold;
        font-size: 90%;
        white-space: nowrap;
    }
}

@media all and (min-width: 48em) {
    .navbar span {
        padding: 0.2em 0.5em;
        font-size: 110%;
        color: grey;
        white-space: nowrap;
    }

    .footerBar span {
        padding: 0 0.6em;
        font-weight: bold;
        font-size: 100%;
        white-space: nowrap;
    }

    .footer p {
        font-size: 100%;
    }
}

@media all and (min-width: 56em) {
    body {
        margin: 1em auto;
    }

    .navbar span {
        padding: 0.2em 0.8em;
        font-size: 120%;
        color: grey;
        white-space: nowrap;
    }
}

.flexContainer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.flexChild {
    width: 100%;
    margin: 0em 1em;
}

.malariaIntro {
    flex-wrap: nowrap !important;
    align-items: center;
}

.malariaIntro img {
    padding: 0 1em 0 0;
}