body {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 16px;
  line-height: 1.2em;
  max-width: 56em;
  margin: 1em;
}

h4 {
  font-style: italic;
  font-weight: normal;
  font-size: 140%;
  line-height: 120%;
  margin: 1em 0;
}

p {
    font-size: 100%;
}

a {
    color: #6fb0bb;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%;
}

.header {
    width: 100%;
    padding: 0;
    border-bottom: solid lightgrey 2px;
}

.header img {
    width: 95%;
    max-width: 50em;
    display: block;
    margin: 0;
}

.navbar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0.5em 2em;
}

.navbar span {
    padding: 0.2em 0.8em;
    font-weight: bold;
    font-size: 120%;
    color: grey;
    white-space: nowrap;
}

.navMenuToggle {
    padding: 0.2em 0.5em;
    font-weight: bold;
    color: grey;
    white-space: nowrap;
}

.navMenuHidden {
    width: 0% !important;
}

.navMenu {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    /*background-color: rgb(0,0,0); /* Black fallback color */*/
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    display: flex;
    display: -webkit-flex;
    /*align-items: center*/
}

.navBackground {
    background: white;
    border-right: solid lightgrey 1px;
    height: 100%;
    display: flex;
    align-items: center
}

.navButtons {
    display: flex;
    flex-direction: column;
}

.navButtons div {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.6em 0.5em;
    margin: 0.1em 0.25em;
    background-color: lightgrey;
    border-radius: 0.2em;
    text-align: center;
    white-space: nowrap;
}

.footer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    border-top: solid lightgrey 2px;
}

.footerBar {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5em 0 0 0;
}

.footerBar span {
    padding: 0 0.6em;
    font-weight: bold;
    font-size: 100%;
    white-space: nowrap;
}

.socialButtons {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    margin: 0.5em 0;
    align-items: center;
}

.socialButtons p {
    font-size: 100%;
    margin: 0;
    padding: 0em 0em 0em 1em;
}

.socialButtons img {
    max-height: 1.75em;
    min-height: 1.75em;
    margin: 0em 0em 0em 0.5em;
}

.mainPurchaseBox {
    border-radius: 1.5em;
    padding: 1em 1em 0 1em;
    border-style: dotted;
    border-color: goldenrod;
}

.purchaseBoxImage img {
    width: 160px;
    margin: 0 auto;
    display: block;
}

.purchaseBoxImage {
    width: 100%;
    display: inline-block;
}

.malariaIntro img {
    padding: 0;
}

.flexContainer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.flexDuoImgText {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.flexDuoImgText img {
    height: 200px;
}

.flexMiddle {
    justify-content: center;
}

.flexMiddleMiddle {
    justify-content: center;
    align-items: center;
}

.flexChild {
    margin: 0em 1em;
}

.malariaIntro {
    align-items: center;
    justify-content: center;
}

.designerBio {
    margin: 1em 0.5em;
}

.designerBio p {
    white-space: pre-line;
}

.designerBio img {
    border-radius: 15px;
}

.bioStandard {
    width: 240px;
}

.bioWide {
    width: 280px;
}

.yarnSource {
    margin: 1em;
}

.yarnSource img {
    width: 240px;

}

.thumbnails {
    margin: 1em 0.5em;
}

.thumbnails img {
    border-radius: 10%;
    width: 200px;
    height: 200px;
}

.thumbnails a div {
    text-align: center;
    max-width: 200px;
}

.thumbnailTitle {
    text-transform: uppercase;
    color: black;
}

.thumbnailSubTitle {
    font-weight: normal;
    width: 200px; /* same as thumbnail image - forces text to wrap */
    color: black;
    font-size: 90%;
}

.mainImg {
    width: 400px;
}

.patternTitle {
    text-transform: uppercase;
    margin: 0.5em 0em 0.25em 0em
}

.designerName {
    font-size: 1em;
    margin: 0em;
}

.ravButton {
    display: flex;
    padding: 1em;
    align-items: center;
}

.patternTab {
    padding: 0.5em 0;
}

.patternTabHeader {
    background: lightgrey;
}

.patternTabHeader p {
    border: solid lightgrey 2px;
    margin: 0;
    font-size: 0.9em;
}

.selectedInfo {
    background: white;
    font-weight: bold;
}

.patternTabContent {
    border-right: solid lightgrey 2px;
    border-left: solid lightgrey 2px;
    border-bottom: solid lightgrey 2px;
}

.patternTabContent div {
    padding: 0.25em;
}

.patternTabContent p {
    margin: 0;
    padding: 0.2em 0;
    font-size: 0.8em;
}

.patternTabContent ul {
    padding: 0.2em 1.1em;
    margin: 0;
}

.tutorialList li {
    padding: 0.3em 0;
}

.patternThumbs {
    margin: 0.5em 0;
}

.patternThumbs h2 {
    font-size: 1em;
    margin: 0.25em 0;
}

.patternThumbs img {
    margin: 0.25em;
    border-radius: 1em;
}

@media all and (min-width: 0) and (max-width: 42em) {
    .navbar {
        display: none;
    }

    .footerBar {
        display: none;
    }

    .flexDuoImgText {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 35em) {
    .footer p {
        font-size: 90%;
        margin: 0.5em auto;
        text-align: center;
    }

    .socialButtons {
        margin: 0.5em auto;
    }
}

@media all and (max-width: 28em) {
    .patternTabHeader p {
        padding: 0.25em 0.35em;
    }

    .patternThumbs img {
        width: 100px;
        height: 100px;
    }

    .patternThumbs h2 {
        text-align: center;
    }
}

@media all and (min-width: 28em) {
    .mainPurchaseBox {
        flex-wrap: nowrap !important;
        align-items: flex-start;
        padding: 1em;
    }

    .purchaseBoxImage {
        width: auto;
        padding: 0 1em 0 0;
    }

    .purchaseBoxImage img {
        margin: 0;
    }

    .mainPurchaseBox .p0 {
        margin: 0 0 1em 0;
    }

    .mainPurchaseBox .pn {
        margin: 1em 0 0 0;
    }

    .malariaIntro {
        flex-wrap: nowrap !important;
    }

    .malariaIntro img {
        padding: 0 0 0 1em;
    }

    .bioWide {
        width: 360px !important;
    }

    .patternTabHeader p {
        padding: 0.25em 0.5em;
    }

    .patternThumbs img {
        width: 120px;
        height: 120px;
    }
}

@media all and (min-width: 35em) {
    .footer p {
        margin: 0.6em;
        font-size: 90%;
    }

    .flexDuoImgText {
        flex-wrap: nowrap;
    }

    .flexDuoImgText div {
        margin: 0 1em;
    }
}

@media all and (min-width: 42em) {
    .navbar span {
        padding: 0.2em 0.4em;
        font-size: 100%;
        color: grey;
        white-space: nowrap;
    }

    .navNarrow {
        display: none;
    }

    .footerBar span {
        padding: 0 0.6em;
        font-weight: bold;
        font-size: 90%;
        white-space: nowrap;
    }
}

@media all and (min-width: 48em) {
    .navbar span {
        padding: 0.2em 0.5em;
        font-size: 110%;
        color: grey;
        white-space: nowrap;
    }

    .footerBar span {
        padding: 0 0.6em;
        font-weight: bold;
        font-size: 100%;
        white-space: nowrap;
    }

    .footer p {
        font-size: 100%;
    }
}

@media all and (min-width: 56em) {
    body {
        margin: 1em auto;
    }

    .navbar span {
        padding: 0.2em 0.8em;
        font-size: 120%;
        color: grey;
        white-space: nowrap;
    }
}